*{
    margin: 0;
    padding: 0;
   

}
.login-main{
    background-color: hsl(193, 37%, 27%);
    height: 140vh;
   
   
}
.login{
  margin-top: 21%;
}
/* .login{ */
/*    
    background-image: url(../../assets/loan.jpg);  */
    /* background-size:100% 100%;  */
    /* width: 100vw;
    height: 100vh;*/
/* }  */
input{
    width:15rem;
    height:3rem;
   
    border-radius: 1rem;
    color: #23242a;
    box-shadow: 2px 2px 2px 2px hwb(180 33% 44%);

}
input:hover{
    transition: 1s 1s;
    background-color: rgb(11, 143, 143);
}
/* form{
    display: block;
    margin-right: 5rem;
    justify-content: center;
    box-sizing: border-box;
    width: 380px;
    height: 420px;
    
    
} */
button{
    background-color:white;
   
    color: #000;
}
.btn {
  margin-top: 5rem;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    border-radius: 1.5rem;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center; 
     margin-left: 6rem;
     margin-bottom: 6rem;
    box-shadow: 2px 2px 2px 2px hwb(180 33% 44%);
  }
  .btn:hover {
    background-color: black;
    color: white;
  }
  .loginImg{
    display: flex;
    justify-content: center; 
   
   
    
  }
  img{
    border-radius: 1.5rem;
    margin-top: 1rem;
  }
  /* .log-btn{
    display: flex;
    justify-content: center;
  } */