<div class=" delete d-flex justify-content-center">
    <div *ngIf="childAccno" class="text-center p-5 my-2  mb-5 bg-light container" style="color:blue;margin: 5rem; width: 60%; box-shadow: 2px 4px 8px 2px rgba(0,0, 0, 0.2);">
        <h2 class="pb-3 text-dark" style="font-family: 'Times New Roman', Times, serif;">Are you sure ! </h2>
        <h3 class="pb-4 text-dark" style="font-family: 'Times New Roman', Times, serif;">Do you want to delete your Bank Account {{childAccno}} <i class="fa-solid text-primary fa-user-xmark fa-beat"></i> ?</h3>
        <button class="btn btn-outline-danger me-2" (click)="acDelete()" >Yes</button>
        <button class="btn btn-outline-success" (click)="noClick()">No</button>
    </div>
</div>
 