<div class="background">

  <div class="row text-center p-2 ">
    <div class=" profile col-lg-4 mt-1  p-3 text-white " data-bs-toggle="modal"
      data-bs-target="#exampleModal" (click)="profileView()">View Profile <i class="fa-solid fa-user fa-bounce"></i></div>
    <div class="enquiry col-lg-4 mt-1 p-3 text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample" (click)="userBalance()">Balance Enquiry <i class="fa-solid fa-sack-dollar fa-bounce"></i></div>
    <div class=" transfer col-lg-4 mt-1  p-3 text-white" data-bs-toggle="modal" data-bs-target="#moneytransfer">Money
      Transfer <i class="fa-solid fa-money-bill-transfer fa-bounce"></i></div>
  </div>
  <div class="row  text-center p-1">
    <div class=" statement col-lg-4 mt-1 p-3 text-white " (click)="statement()">Account Statement <i
        class="fa-solid fa-money-check fa-bounce"></i></div>
    <div class=" logout col-lg-4 mt-1 p-3 text-white " (click)="logout()">Log Out <i
        class="fa-solid fa-person-walking-arrow-right fa-bounce"></i></div>
    <div class=" delete col-lg-4 mt-1 p-3  text-white">Delete Account <i
        class="fa-solid fa-person-circle-minus fa-bounce"></i></div>
  </div>

  <h1 class="text-center text-white fw-bold mt-5" style="font-family: 'Times New Roman', Times, serif;">Hi {{user}} Welcome </h1>
  <h2 class="text-center text-white fw-bold mt-3" style="font-family: 'Times New Roman', Times, serif;">Enjoy Net
    Banking With <span style="color: blue;">SBI</span></h2>
  <p class="text-center text-white t-5" style="font-family: 'Times New Roman', Times, serif;">Lorem ipsum, dolor sit
    amet consectetur adipisicing elit. Labore qui repellendus nobis, illo ea adipisci neque amet tempore deleniti
    accusantium fugit odit<br> nostrum laboriosam laborum dolor necessitatibus odio sapiente in.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi nisi eos quis provident,<br> ipsa labore illo
    asperiores, odio quidem vero reiciendis vel iusto voluptas repellat ut quisquam. Eum, sint.</p>
    

</div>
<!-- model for view profile -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="bank modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Profile Details</h5>  -->
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center">Profile Details</h5>
        <img class="" src="../../assets/person.jpg" alt="userImage">
        <p class="text-center">Username:{{profileDAta.uName}}</p>
        <p class="text-center">Account No:{{profileDAta.accNo}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- model -->
<!-- offconvas  for balance enquiry -->
<div class=" bank offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">

    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Bank Balance</h5>
      <img class="mt-3" src="../../assets/balance.jpg" alt="userImage">
     
      <p class="text-center mt-3">Hi {{ accountBalance.uName}}</p>
      <p class="text-center mt-3">Account Number : {{accountBalance.accNo}}</p>
      <p class="text-center">Your available Balance is <i class="fa-solid fa-dollar-sign fa-beat"> {{ accountBalance.balance}}</i> </p>
    </div>

  </div>
</div>
<!-- offcampus -->
<!-- Modal money transfer -->
<div class=" modal fade" id="moneytransfer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bank">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="moneyTransferForm">

          <h1 class="modal-title fs-5 text-center mb-4" id="exampleModalLabel">Money Transfer</h1>
          <div class="mt-3 ">
            <input type="text" class="form-control text-dark" placeholder="Acc No" formControlName="toAccno">
          </div>
          <div *ngIf=" moneyTransferForm.get('toAccno')?.errors&& moneyTransferForm.get('toAccno')?.touched">
            <p class="text-danger text-center">accepts number only</p>
          </div>

          <div class="mt-3">
            <input type="text" class="form-control text-dark" placeholder="Amount..." formControlName="amount">
          </div>
          <div *ngIf=" moneyTransferForm.get('amount')?.errors&& moneyTransferForm.get('amount')?.touched">
            <p class="text-danger text-center">accepts number only</p>
          </div>

          <div class="mt-3">
            <input type="text" class="form-control text-dark" placeholder="Password" formControlName="pwd">
          </div>
          <div *ngIf=" moneyTransferForm.get('pwd')?.errors&& moneyTransferForm.get('pwd')?.touched">
            <p class="text-danger text-center ">accept letters and number only</p>
          </div>

          <button class="btn btn-dark mt-3 form-control" (click)="transfer()">Transfer</button>

        </form>
        <img class="mt-4" src="../../assets/transfer.jpg" alt="transferimage">
      </div>
      <div class="modal-footer">
        <p [ngClass]="status?'s2':'s1'" class="me-auto text-success text-center fw-bold" >{{message}}</p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- Account Statement -->